<% if @event.errors.any? %>
    <section id ="errors">
      <header>
        <h2>you messed up.  the form was not submitted.</h2>
        <h3>fix these <%= pluralize(@event.errors.count, 'fuckup')%>:</h3>
      </header>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </section>
<% end %>